body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-playfair-display: "Playfair Display";
  --font-adamina: Adamina;
  --body-small: Inter;
  --font-brygada-1918: "Brygada 1918";
  --font-bentham: Bentham;
  --font-inika: Inika;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-lg: 1.125rem;
  --font-size-lgi-8: 1.238rem;
  --font-size-3xl-3: 1.394rem;
  --font-size-xl-6: 1.288rem;
  --body-strong-size: 1rem;
  --font-size-xl: 1.25rem;
  --font-size-11xl: 1.875rem;
  --font-size-lgi: 1.188rem;
  --font-size-5xl: 1.5rem;
  --font-size-16xl: 2.188rem;
  --font-size-2xl: 1.313rem;
  --font-size-9xl: 1.75rem;
  --body-small-size: 0.875rem;
  --font-size-7xl: 1.625rem;
  --font-size-13xl: 2rem;
  --font-size-31xl: 3.125rem;
  --font-size-21xl: 2.5rem;
  --font-size-17xl: 2.25rem;
  --font-size-mid-7: 1.106rem;
  --font-size-xs-8: 0.738rem;
  --font-size-mini-8: 0.925rem;

  /* Colors */
  --color-peachpuff: rgba(255, 201, 168, 0.8);
  --border-neutral-secondary: #767676;
  --text-default-secondary: #757575;
  --background-brand-default: #2c2c2c;
  --text-default-default: #1e1e1e;
  --text-utilities-text-on-overlay: #0c0c0d;
  --background-default-default: #fff;
  --color-black: #000;
  --color-azure: #e5f5f1;
  --background-neutral-tertiary: #e3e3e3;
  --border-default-default: #d9d9d9;
  --text-brand-on-brand: #f5f5f5;
  --text-neutral-default: #303030;
  --text-default-tertiary: #b3b3b3;
  --color-darkgray-100: #ac9d9c;
  --schemes-outline-variant: #cac4d0;
  --border-danger-secondary: #c00f0c;
  --background-danger-secondary-hover: #fcb3ad;
  --background-danger-tertiary-hover: #fdd3d0;

  /* Spacing */
  --space-400: 1rem;
  --radius-200: 0.5rem;
  --space-200: 0.5rem;
  --space-600: 1.5rem;
  --space-300: 0.75rem;
  --space-1600: 4rem;
  --space-1200: 3rem;
  --radius-full: 624.937rem;
  --icon-large: 2.5rem;
  --space-100: 0.25rem;
  --radius-100: 0.25rem;

  /* Gaps */
  --gap-75xl: 5.875rem;
  --gap-4xl: 1.437rem;
  --gap-28xl: 2.937rem;
  --gap-11xs: 0.125rem;
  --gap-lgi-2: 1.2rem;
  --gap-xl: 1.25rem;
  --gap-9xl-9: 1.806rem;
  --gap-mini-3: 0.893rem;
  --gap-29xl-6: 3.037rem;
  --gap-2xl: 1.312rem;
  --gap-24xl: 2.687rem;
  --gap-3xs: 0.625rem;
  --gap-7xl: 1.625rem;
  --gap-9xl: 1.75rem;
  --gap-lgi: 1.187rem;
  --gap-base: 1rem;
  --gap-5xs: 0.5rem;
  --gap-5xl: 1.5rem;
  --gap-29xl: 3rem;
  --gap-xs: 0.75rem;
  --gap-9xs: 0.25rem;
  --gap-15xl: 2.125rem;
  --gap-mid: 1.062rem;
  --gap-41xl: 3.75rem;
  --gap-11xl: 1.875rem;
  --gap-mini: 0.937rem;
  --gap-lg: 1.125rem;
  --gap-12xl: 1.937rem;
  --gap-55xl: 4.625rem;
  --gap-18xl: 2.312rem;
  --gap-26xl: 2.812rem;
  --gap-3xl: 1.375rem;
  --gap-13xl: 2rem;
  --gap-7xs-9: 0.368rem;
  --gap-16xl-5: 2.218rem;
  --gap-mid-7: 1.106rem;
  --gap-xs-8: 0.737rem;

  /* Paddings */
  --padding-2xl: 1.312rem;
  --padding-smi: 0.812rem;
  --padding-mid: 1.062rem;
  --padding-49xl: 4.25rem;
  --padding-7xs: 0.375rem;
  --padding-10xs: 0.187rem;
  --padding-48xl: 4.187rem;
  --padding-111xl: 8.125rem;
  --padding-14xl: 2.062rem;
  --padding-65xl: 5.25rem;
  --padding-30xl: 3.062rem;
  --padding-8xl: 1.687rem;
  --padding-4xl: 1.437rem;
  --padding-mini: 0.937rem;
  --padding-12xs: 0.062rem;
  --padding-5xl: 1.5rem;
  --padding-xl: 1.25rem;
  --padding-11xl: 1.875rem;
  --padding-11xs: 0.125rem;
  --padding-base: 1rem;
  --padding-3xl: 1.375rem;
  --padding-3xs: 0.625rem;
  --padding-xs: 0.75rem;
  --padding-37xl: 3.5rem;
  --padding-15xl: 2.125rem;
  --padding-9xl: 1.75rem;
  --padding-46xl: 4.062rem;
  --padding-45xl: 4rem;
  --padding-23xl: 2.625rem;
  --padding-13xl: 2rem;
  --padding-19xl: 2.375rem;
  --padding-2xs: 0.687rem;
  --padding-lgi-5: 1.218rem;
  --padding-lg: 1.125rem;
  --padding-5xs: 0.5rem;
  --padding-10xl: 1.812rem;
  --padding-25xl: 2.75rem;
  --padding-lgi: 1.187rem;
  --padding-8xs: 0.312rem;
  --padding-12xl: 1.937rem;
  --padding-36xl: 3.437rem;
  --padding-32xl: 3.187rem;
  --padding-6xl: 1.562rem;
  --padding-7xl: 1.625rem;
  --padding-18xl: 2.312rem;
  --padding-38xl: 3.562rem;
  --padding-9xs: 0.25rem;
  --padding-17xl: 2.25rem;
  --padding-28xl: 2.937rem;
  --padding-28xl-3: 2.956rem;
  --padding-12xs-1: 0.006rem;
  --padding-4xs-9: 0.556rem;

  /* Border radiuses */
  --br-141xl: 160px;
  --br-31xl: 50px;
  --br-5xs: 8px;
  --br-9980xl: 9999px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-smi: 13px;
  --br-7xs: 6px;
}