.single-product-child {
  width: 100%;
  height: 91.938rem;
  position: absolute;
  margin: 0 !important;
  top: 11.938rem;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.content-child {
  height: 12.25rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.header-icons {
  height: 3rem;
  width: 78.031rem;
  position: absolute;
  margin: 0 !important;
  top: 3.75rem;
  left: 1.063rem;
  z-index: 1;
}
.content,
.main-product-child {
  position: relative;
  max-width: 100%;
}
.content {
  margin-top: -16.125rem;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.main-product-child {
  width: 37rem;
  height: 50.063rem;
  border-radius: var(--br-xl);
  background-color: var(--background-default-default);
  display: none;
}
.arrow-back-icon {
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  min-height: 2.5rem;
  cursor: pointer;
  z-index: 1;
}
.silver-ruby-ring {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.17px;
  line-height: 2.125rem;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.product-name,
.ring-name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ring-name {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.product-name {
  width: 18.75rem;
  flex-direction: row;
  gap: var(--gap-11xs);
}
.share-icon {
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  min-height: 2.5rem;
  z-index: 1;
}
.product-name-and-share {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-family: var(--font-adamina);
}
.image-placeholder-icon {
  height: 35.706rem;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.image-placeholder-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
}
.ring-with-rubies {
  flex: 1;
  position: relative;
  letter-spacing: 0.12px;
  line-height: 1.563rem;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.product-actions {
  width: 24.813rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: 1.056rem;
  font-family: var(--font-roboto);
}
.text-small43 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.text-small42 {
  width: 18.438rem;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 1.244rem;
  color: var(--text-default-secondary);
}
.info-emphasis {
  height: 2rem;
  flex: 1;
  position: relative;
  line-height: 140%;
  display: inline-block;
}
.text49 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.text-strong43 {
  height: 2rem;
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}
.text-parent,
.text-strong42 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-strong42 {
  width: 1.875rem;
  flex-direction: row;
  z-index: 1;
}
.text-parent {
  width: 18.438rem;
  flex-direction: column;
  gap: 0.706rem;
}
.favorite-icon {
  width: 1.813rem;
  height: 1.813rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.favorite-button-container,
.favorite-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.favorite-parent {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.favorite-button-container {
  justify-content: flex-end;
  padding: 0 0 0.268rem;
}
.description-and-favorite {
  width: 29.406rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.main-product,
.product-image {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.product-image {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-5xl);
  text-align: left;
  font-size: var(--body-strong-size);
  color: var(--text-default-default);
}
.main-product {
  flex: 1;
  box-shadow: 10px 12px 7px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--background-default-default);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-7xl) 2.043rem var(--padding-9xl);
  gap: 0.868rem;
  min-width: 24.063rem;
  z-index: 1;
}
.info-header-child {
  height: 38.063rem;
  width: 29.25rem;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--border-default-default);
  display: none;
  max-width: 100%;
}
.about-the-product {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 2.813rem;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.info-header {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--border-default-default);
  flex-direction: row;
  padding: var(--padding-6xl) 0;
  box-sizing: border-box;
  min-height: 38.063rem;
  z-index: 1;
}
.info-header,
.info-header-wrapper,
.product-title-container,
.title-and-share {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.info-header-wrapper {
  width: 29.25rem;
  flex-direction: column;
  padding: var(--padding-65xl) 0 0;
  box-sizing: border-box;
  min-width: 29.25rem;
  font-family: var(--font-adamina);
}
.product-title-container,
.title-and-share {
  flex-direction: row;
}
.title-and-share {
  flex: 1;
  gap: var(--gap-55xl);
}
.product-title-container {
  align-self: stretch;
  padding: 0 var(--padding-36xl) 0 var(--padding-32xl);
  box-sizing: border-box;
}
.view-similar-products {
  margin: 0;
  width: 32.375rem;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.image-icon24 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.card-description {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.text50 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-strong45 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 1.375rem;
  white-space: nowrap;
}
.text-strong44 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-small45 {
  position: relative;
  line-height: 140%;
}
.body24,
.product-info-card21,
.text-small44 {
  align-items: flex-start;
  justify-content: flex-start;
}
.text-small44 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  font-size: var(--body-small-size);
  color: var(--text-default-secondary);
}
.body24,
.product-info-card21 {
  display: flex;
  flex-direction: column;
}
.body24 {
  align-self: stretch;
  gap: var(--space-200);
}
.product-info-card21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--background-default-default);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: var(--space-400) var(--padding-mini);
  gap: var(--space-400);
  min-width: 15rem;
  cursor: pointer;
}
.empty-layout-icon {
  position: absolute;
  top: 17.438rem;
  left: 12.688rem;
  width: 1.5rem;
  height: 3rem;
  z-index: 1;
}
.card-layout {
  height: 21.688rem;
  flex: 1;
  position: relative;
  min-width: 14.688rem;
  max-width: 15rem;
}
.icon29,
.icon30,
.icon31,
.icon32 {
  position: absolute;
  top: 17.438rem;
  left: 12.625rem;
  width: 1.5rem;
  height: 3rem;
  z-index: 1;
}
.icon30,
.icon31,
.icon32 {
  left: 12.563rem;
}
.icon31,
.icon32 {
  left: 12.5rem;
}
.icon32 {
  left: 12.438rem;
}
.suggested-products {
  align-self: stretch;
  filter: drop-shadow(10px 12px 7px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-3xs);
  cursor: pointer;
  z-index: 1;
  font-size: var(--body-strong-size);
  color: var(--text-default-default);
  font-family: var(--body-small);
}
.similar-products {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.812rem;
  text-align: left;
  font-size: var(--font-size-21xl);
  font-family: var(--font-inika);
}
.product-header,
.product-info,
.similar-products {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.product-header {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-75xl);
}
.product-info {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-11xl) var(--padding-xl) var(--padding-12xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--body-small);
}
.frame-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-brand-default);
  width: 100%;
  height: 100%;
  display: none;
}
.all-copyrights-reserved2 {
  position: absolute;
  top: 6.563rem;
  left: 32.056rem;
  font-size: var(--font-size-xl-6);
  line-height: 1.819rem;
  display: inline-block;
  width: 31.331rem;
  height: 1.819rem;
  z-index: 1;
}
.contact-us2 {
  margin: 0;
  font-size: var(--font-size-3xl-3);
  font-weight: 600;
}
.blank-line12 {
  margin: 0;
}
.contact-us-pearlyhuesgmailco-container2 {
  position: absolute;
  top: 1.844rem;
  left: 16.275rem;
  line-height: 140%;
  display: inline-block;
  width: 21.375rem;
  height: 19.719rem;
  z-index: 1;
  font-size: var(--font-size-lgi-8);
}
.information5 {
  margin: 0;
  font-weight: 600;
}
.blank-line14 {
  margin: 0;
  font-size: var(--font-size-lgi-8);
}
.information4 {
  align-self: stretch;
  height: 2.15rem;
  display: inline-block;
  flex-shrink: 0;
}
.information4,
.privacy-policy2,
.refund-policy6 {
  position: relative;
  line-height: 140%;
  z-index: 1;
}
.privacy-policy2 {
  align-self: stretch;
  height: 2.006rem;
  display: inline-block;
  flex-shrink: 0;
}
.refund-policy6 {
  flex: 1;
  cursor: pointer;
}
.policy-container,
.refund-policy5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.refund-policy5 {
  flex-direction: row;
  padding: 0 var(--padding-8xs) 0 var(--padding-10xs);
}
.policy-container {
  flex-direction: column;
  gap: 2.362rem;
}
.service4 {
  flex: 1;
  position: relative;
  line-height: 140%;
  z-index: 1;
}
.social-links {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-45xl) 0 3.812rem;
}
.policy-list1,
.refund-policy4,
.social-links {
  display: flex;
  align-items: flex-start;
}
.policy-list1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.512rem;
  flex-shrink: 0;
}
.refund-policy4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-xs) 0 var(--padding-mini);
  font-size: var(--font-size-lgi-8);
}
.information-container {
  position: absolute;
  top: 2.581rem;
  left: 61.244rem;
  width: 14.056rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 1.643rem;
}
.instagram-icon2 {
  height: 2.019rem;
  width: 2.256rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.follow-us2 {
  width: 7.225rem;
  position: relative;
  line-height: 2rem;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 1;
}
.facebook-icon2 {
  height: 2.019rem;
  width: 2.256rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 2rem;
  z-index: 1;
}
.facebook-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.social-icons-container1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-lgi);
}
.follow-us-container,
.policy-items,
.social-icons-container1 {
  display: flex;
  justify-content: flex-start;
}
.follow-us-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.918rem;
}
.policy-items {
  position: absolute;
  top: 1.213rem;
  left: 3.175rem;
  width: 12.931rem;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.112rem;
}
.group-footer {
  align-self: stretch;
  height: 21.563rem;
  position: relative;
  background-color: var(--background-brand-default);
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-3xl-3);
  color: var(--background-default-default);
  font-family: var(--font-playfair-display);
}
.single-product {
  width: 100%;
  height: 125.438rem;
  position: relative;
  background-color: var(--background-default-default);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 15.812rem 0 0;
  box-sizing: border-box;
  gap: 3.875rem;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .title-and-share {
    gap: var(--gap-18xl);
  }
  .product-title-container {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .silver-ruby-ring {
    font-size: var(--font-size-7xl);
    line-height: 1.688rem;
  }
  .main-product {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .about-the-product {
    font-size: var(--font-size-7xl);
    line-height: 2.25rem;
  }
  .info-header-wrapper {
    flex: 1;
  }
  .title-and-share {
    flex-wrap: wrap;
  }
  .view-similar-products {
    font-size: var(--font-size-13xl);
    line-height: 2.813rem;
  }
  .single-product {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .product-name-and-share {
    flex-wrap: wrap;
  }
  .main-product {
    min-width: 100%;
  }
  .info-header-wrapper {
    padding-top: var(--padding-36xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .title-and-share {
    gap: var(--gap-lg);
  }
  .product-header {
    gap: var(--gap-28xl);
  }
  .single-product {
    gap: var(--gap-12xl);
  }
}
@media screen and (max-width: 450px) {
  .silver-ruby-ring {
    font-size: var(--font-size-lgi);
    line-height: 1.25rem;
  }
  .main-product {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .about-the-product {
    font-size: var(--font-size-lgi);
    line-height: 1.688rem;
  }
  .view-similar-products {
    font-size: var(--font-size-5xl);
    line-height: 2.125rem;
  }
  .product-header {
    gap: var(--gap-4xl);
  }
  .all-copyrights-reserved2 {
    font-size: var(--body-strong-size);
    line-height: 1.438rem;
  }
  .contact-us-pearlyhuesgmailco-container2,
  .follow-us2,
  .information4 {
    font-size: var(--font-size-lg);
    line-height: 1.563rem;
  }
  .single-product {
    gap: var(--gap-mini);
  }
}