<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./BraceletAndRings.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bentham:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Brygada 1918:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inika:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="bracelet-and-rings">
      <img
        class="bracelet-and-rings-child"
        alt=""
        src="./public/group-182.svg"
      />

      <main class="bracelet-and-rings-inner">
        <section class="frame-section">
          <div class="bracelets-and-rings-to-stay-in-parent">
            <div class="bracelets-and-rings-container2">
              <p class="bracelets-and-rings2">Bracelets and Rings</p>
              <p class="to-stay-in2">To stay in style everyday</p>
            </div>
            <div class="frame-parent4">
              <div class="shop-more-button-parent">
                <div class="shop-more-button">
                  <div class="product-info-card55">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">1</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon66" alt="" src="./public/1.svg" />

                  <img
                    class="b3-1-icon"
                    loading="lazy"
                    alt=""
                    src="./public/1-111@2x.png"
                  />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">2</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon68" alt="" src="./public/1.svg" />

                  <img
                    class="b3-1-icon"
                    loading="lazy"
                    alt=""
                    src="./public/2-61@2x.png"
                  />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">3</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon70" alt="" src="./public/1.svg" />

                  <img
                    class="b3-1-icon"
                    loading="lazy"
                    alt=""
                    src="./public/3-41@2x.png"
                  />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      loading="lazy"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">4</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon72" alt="" src="./public/1.svg" />

                  <img class="icon73" alt="" src="./public/4-3@2x.png" />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">5</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon70" alt="" src="./public/1.svg" />

                  <img
                    class="icon75"
                    loading="lazy"
                    alt=""
                    src="./public/10-2@2x.png"
                  />
                </div>
              </div>
              <div class="frame-parent5">
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">6</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon76" alt="" src="./public/1.svg" />

                  <img
                    class="icon77"
                    loading="lazy"
                    alt=""
                    src="./public/6-2@2x.png"
                  />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">7</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon78" alt="" src="./public/1.svg" />

                  <img
                    class="icon79"
                    loading="lazy"
                    alt=""
                    src="./public/7-2@2x.png"
                  />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      loading="lazy"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">7</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon80" alt="" src="./public/81.svg" />

                  <img class="icon81" alt="" src="./public/9-2@2x.png" />
                </div>
                <div class="product-info-card-parent22">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">7</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon82" alt="" src="./public/1.svg" />

                  <img
                    class="icon83"
                    loading="lazy"
                    alt=""
                    src="./public/8-2@2x.png"
                  />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">7</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon84" alt="" src="./public/1.svg" />

                  <img
                    class="b3-1-icon"
                    loading="lazy"
                    alt=""
                    src="./public/5-2@2x.png"
                  />
                </div>
              </div>
              <div class="shop-more-button-parent">
                <div class="shop-more-button">
                  <div class="product-info-card55">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">1</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon66" alt="" src="./public/1.svg" />

                  <img
                    class="icon87"
                    loading="lazy"
                    alt=""
                    src="./public/11-2@2x.png"
                  />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">2</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon68" alt="" src="./public/1.svg" />

                  <img
                    class="icon79"
                    loading="lazy"
                    alt=""
                    src="./public/13-2@2x.png"
                  />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">3</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon70" alt="" src="./public/1.svg" />

                  <img class="icon91" alt="" src="./public/14-2@2x.png" />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">4</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon72" alt="" src="./public/1.svg" />

                  <img
                    class="icon93"
                    loading="lazy"
                    alt=""
                    src="./public/15-2@2x.png"
                  />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">5</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon70" alt="" src="./public/1.svg" />

                  <img class="icon91" alt="" src="./public/16-2@2x.png" />
                </div>
              </div>
              <div class="frame-parent5">
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">6</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon76" alt="" src="./public/1.svg" />

                  <img
                    class="b3-1-icon"
                    loading="lazy"
                    alt=""
                    src="./public/12-2@2x.png"
                  />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">7</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon78" alt="" src="./public/1.svg" />

                  <img
                    class="b12-1-icon"
                    loading="lazy"
                    alt=""
                    src="./public/17-2@2x.png"
                  />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">7</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon80" alt="" src="./public/81.svg" />

                  <img class="icon91" alt="" src="./public/18-2@2x.png" />
                </div>
                <div class="product-info-card-parent22">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">7</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon82" alt="" src="./public/1.svg" />

                  <img
                    class="icon103"
                    loading="lazy"
                    alt=""
                    src="./public/19-2@2x.png"
                  />
                </div>
                <div class="shop-more-button">
                  <div class="product-info-card56" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">7</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon84" alt="" src="./public/1.svg" />

                  <img class="icon105" alt="" src="./public/20-2@2x.png" />
                </div>
              </div>
              <div class="frame-parent8">
                <div class="product-info-card-parent34">
                  <div class="product-info-card75">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">1</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon66" alt="" src="./public/1.svg" />

                  <img
                    class="b3-1-icon"
                    loading="lazy"
                    alt=""
                    src="./public/21-21@2x.png"
                  />
                </div>
                <div class="product-info-card-parent34">
                  <div class="product-info-card76" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">2</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon68" alt="" src="./public/1.svg" />

                  <img
                    class="b12-1-icon"
                    loading="lazy"
                    alt=""
                    src="./public/22-21@2x.png"
                  />
                </div>
                <div class="product-info-card-parent34">
                  <div class="product-info-card76" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">3</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon70" alt="" src="./public/1.svg" />

                  <img
                    class="icon111"
                    loading="lazy"
                    alt=""
                    src="./public/23-2@2x.png"
                  />
                </div>
                <div class="product-info-card-parent34">
                  <div class="product-info-card76" id="productInfoCard">
                    <img
                      class="image-icon64"
                      loading="lazy"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">4</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon72" alt="" src="./public/1.svg" />

                  <img class="icon113" alt="" src="./public/24-21@2x.png" />
                </div>
                <div class="product-info-card-parent38">
                  <div class="product-info-card79" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">5</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon114" alt="" src="./public/1.svg" />
                </div>
                <div class="product-info-card-parent34">
                  <div class="product-info-card76" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">1</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon115" alt="" src="./public/1.svg" />

                  <img
                    class="b3-1-icon"
                    loading="lazy"
                    alt=""
                    src="./public/b2-11@2x.png"
                  />
                </div>
                <div class="product-info-card-parent34">
                  <div class="product-info-card75">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">2</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon70" alt="" src="./public/1.svg" />

                  <img
                    class="b3-1-icon"
                    loading="lazy"
                    alt=""
                    src="./public/b3-1@2x.png"
                  />
                </div>
                <div class="product-info-card-parent34">
                  <div class="product-info-card76" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">3</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon117" alt="" src="./public/1.svg" />

                  <img
                    class="b3-1-icon"
                    loading="lazy"
                    alt=""
                    src="./public/b4-1@2x.png"
                  />
                </div>
                <div class="product-info-card-parent34">
                  <div class="product-info-card76" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">4</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon118" alt="" src="./public/1.svg" />

                  <img class="b5-1-icon" alt="" src="./public/b5-1@2x.png" />
                </div>
                <div class="product-info-card-parent34">
                  <div class="product-info-card76" id="productInfoCard">
                    <img
                      class="image-icon64"
                      alt=""
                      src="./public/image@2x.png"
                    />

                    <div class="body64">
                      <div class="text123">
                        <div class="text124">5</div>
                      </div>
                      <div class="text-strong112">
                        <div class="text-strong113">$0</div>
                      </div>
                      <div class="text-small112">
                        <div class="text-small113">Body text.</div>
                      </div>
                    </div>
                  </div>
                  <img class="icon119" alt="" src="./public/1.svg" />

                  <img
                    class="b3-1-icon"
                    loading="lazy"
                    alt=""
                    src="./public/b6-1@2x.png"
                  />
                </div>
              </div>
              <div class="shop-collections1">
                <div class="frame-parent5">
                  <div class="shop-more-button">
                    <div class="product-info-card56" id="productInfoCard">
                      <img
                        class="image-icon64"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body64">
                        <div class="text123">
                          <div class="text124">6</div>
                        </div>
                        <div class="text-strong112">
                          <div class="text-strong113">$0</div>
                        </div>
                        <div class="text-small112">
                          <div class="text-small113">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img class="icon117" alt="" src="./public/1.svg" />

                    <img class="b5-1-icon" alt="" src="./public/b7-1@2x.png" />
                  </div>
                  <div class="shop-more-button">
                    <div class="product-info-card56" id="productInfoCard">
                      <img
                        class="image-icon64"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body64">
                        <div class="text123">
                          <div class="text124">7</div>
                        </div>
                        <div class="text-strong112">
                          <div class="text-strong113">$0</div>
                        </div>
                        <div class="text-small112">
                          <div class="text-small113">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img class="icon121" alt="" src="./public/1.svg" />

                    <img
                      class="b3-1-icon"
                      loading="lazy"
                      alt=""
                      src="./public/b8-1@2x.png"
                    />
                  </div>
                  <div class="shop-more-button">
                    <div class="product-info-card56" id="productInfoCard">
                      <img
                        class="image-icon64"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body64">
                        <div class="text123">
                          <div class="text124">7</div>
                        </div>
                        <div class="text-strong112">
                          <div class="text-strong113">$0</div>
                        </div>
                        <div class="text-small112">
                          <div class="text-small113">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img class="icon122" alt="" src="./public/1.svg" />

                    <img
                      class="b3-1-icon"
                      loading="lazy"
                      alt=""
                      src="./public/b9-1@2x.png"
                    />
                  </div>
                  <div class="product-info-card-parent22">
                    <div class="product-info-card56" id="productInfoCard">
                      <img
                        class="image-icon64"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body64">
                        <div class="text123">
                          <div class="text124">7</div>
                        </div>
                        <div class="text-strong112">
                          <div class="text-strong113">$0</div>
                        </div>
                        <div class="text-small112">
                          <div class="text-small113">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img class="icon123" alt="" src="./public/1.svg" />

                    <img
                      class="b10-1-icon"
                      alt=""
                      src="./public/b10-1@2x.png"
                    />
                  </div>
                  <div class="shop-more-button">
                    <div class="product-info-card56" id="productInfoCard">
                      <img
                        class="image-icon64"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body64">
                        <div class="text123">
                          <div class="text124">7</div>
                        </div>
                        <div class="text-strong112">
                          <div class="text-strong113">$0</div>
                        </div>
                        <div class="text-small112">
                          <div class="text-small113">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img class="icon124" alt="" src="./public/1.svg" />

                    <img class="b3-1-icon" alt="" src="./public/b11-1@2x.png" />
                  </div>
                </div>
                <div class="shop-more-button-parent">
                  <div class="shop-more-button">
                    <div class="product-info-card56" id="productInfoCard">
                      <img
                        class="image-icon64"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body64">
                        <div class="text123">
                          <div class="text124">1</div>
                        </div>
                        <div class="text-strong112">
                          <div class="text-strong113">$0</div>
                        </div>
                        <div class="text-small112">
                          <div class="text-small113">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img class="icon115" alt="" src="./public/1.svg" />

                    <img
                      class="b12-1-icon"
                      loading="lazy"
                      alt=""
                      src="./public/b12-1@2x.png"
                    />
                  </div>
                  <div class="shop-more-button">
                    <div class="product-info-card55">
                      <img
                        class="image-icon64"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body64">
                        <div class="text123">
                          <div class="text124">2</div>
                        </div>
                        <div class="text-strong112">
                          <div class="text-strong113">$0</div>
                        </div>
                        <div class="text-small112">
                          <div class="text-small113">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img class="icon70" alt="" src="./public/1.svg" />

                    <img
                      class="b3-1-icon"
                      loading="lazy"
                      alt=""
                      src="./public/b13-1@2x.png"
                    />
                  </div>
                  <div class="shop-more-button">
                    <div class="product-info-card56" id="productInfoCard">
                      <img
                        class="image-icon64"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body64">
                        <div class="text123">
                          <div class="text124">3</div>
                        </div>
                        <div class="text-strong112">
                          <div class="text-strong113">$0</div>
                        </div>
                        <div class="text-small112">
                          <div class="text-small113">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img class="icon117" alt="" src="./public/1.svg" />

                    <img
                      class="b14-1-icon"
                      loading="lazy"
                      alt=""
                      src="./public/b14-1@2x.png"
                    />
                  </div>
                  <div class="product-info-card-parent52">
                    <div class="product-info-card79" id="productInfoCard">
                      <img
                        class="image-icon64"
                        loading="lazy"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body64">
                        <div class="text123">
                          <div class="text124">4</div>
                        </div>
                        <div class="text-strong112">
                          <div class="text-strong113">$0</div>
                        </div>
                        <div class="text-small112">
                          <div class="text-small113">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img class="icon128" alt="" src="./public/1.svg" />
                  </div>
                  <div class="product-info-card-parent52">
                    <div class="product-info-card79" id="productInfoCard">
                      <img
                        class="image-icon64"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body64">
                        <div class="text123">
                          <div class="text124">5</div>
                        </div>
                        <div class="text-strong112">
                          <div class="text-strong113">$0</div>
                        </div>
                        <div class="text-small112">
                          <div class="text-small113">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img class="icon129" alt="" src="./public/1.svg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="button-background-parent">
            <div class="button-background"></div>
            <h1 class="shop-more-collections2">Shop More Collections</h1>
          </div>
          <div class="navigation1">
            <div class="navigation-links">
              <div class="frame-parent11">
                <div class="necklace-title-wrapper">
                  <div class="necklace-title1">
                    <div class="necklaces2" id="necklacesText">
                      <p class="bracelets-and-rings2">Necklaces</p>
                      <p class="blank-line34">&nbsp;</p>
                    </div>
                    <div class="necklace-description">
                      <div class="treasure-the-moments2">
                        Treasure the moments, flaunt the jewels
                      </div>
                    </div>
                  </div>
                </div>
                <div class="earrings-title-parent">
                  <div class="earrings-title">
                    <div class="earrings4" id="earringsText">
                      <p class="bracelets-and-rings2">Earrings</p>
                      <p class="blank-line35">&nbsp;</p>
                    </div>
                  </div>
                  <div class="bold-statements-for2">
                    Bold statements for brilliant beings
                  </div>
                </div>
              </div>
              <div class="ellipse-parent1">
                <img
                  class="frame-child9"
                  alt=""
                  src="./public/ellipse-1@2x.png"
                />

                <img
                  class="icon130"
                  loading="lazy"
                  alt=""
                  src="./public/3-4@2x.png"
                />
              </div>
              <div class="ellipse-parent2">
                <img
                  class="frame-child10"
                  alt=""
                  src="./public/ellipse-1@2x.png"
                />

                <img
                  class="icon131"
                  loading="lazy"
                  alt=""
                  src="./public/21-2@2x.png"
                />
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="rectangle-parent3">
        <div class="frame-child11"></div>
        <div class="social-bar">
          <div class="instagram-container1">
            <img
              class="instagram-icon6"
              loading="lazy"
              alt=""
              src="./public/instagram.svg"
            />
          </div>
          <div class="follow-us7">
            <div class="follow-us8">Follow us</div>
            <div class="social-links2">
              <div class="links-container">
                <div class="social-icons-wrapper">
                  <div class="social-icons2">
                    <img
                      class="facebook-icon6"
                      loading="lazy"
                      alt=""
                      src="./public/facebook.svg"
                    />

                    <img
                      class="facebook-icon6"
                      loading="lazy"
                      alt=""
                      src="./public/twitter.svg"
                    />

                    <img
                      class="linkedin-icon6"
                      loading="lazy"
                      alt=""
                      src="./public/linkedin.svg"
                    />
                  </div>
                </div>
                <div class="contact-info1">
                  <div class="contact-us-pearlyhuesgmailco-container6">
                    <p class="contact-us6">Contact us</p>
                    <p class="bracelets-and-rings2">&nbsp;</p>
                    <p class="bracelets-and-rings2">pearlyhues@gmail.com</p>
                    <p class="bracelets-and-rings2">&nbsp;</p>
                    <p class="bracelets-and-rings2">xyz , Delhi</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright1">
          <div class="all-copyrights-reserved6">@ All Copyrights Reserved</div>
        </div>
        <div class="footer-info1">
          <div class="info-container">
            <div class="information12">
              <p class="information13">Information</p>
              <p class="blank-line38">&nbsp;</p>
            </div>
            <div class="policies2">
              <div class="policy-list3">
                <div class="privacy-policy6">Privacy Policy</div>
                <div class="refund-policy-container">
                  <div class="refund-policy-parent">
                    <div class="refund-policy15" id="refundPolicyText">
                      <p class="bracelets-and-rings2">Refund Policy</p>
                      <p class="bracelets-and-rings2">&nbsp;</p>
                    </div>
                    <div class="service-container2">
                      <div class="service12">
                        <p class="bracelets-and-rings2">Service</p>
                        <p class="bracelets-and-rings2">&nbsp;</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var productInfoCard = document.getElementById("productInfoCard");
      if (productInfoCard) {
        productInfoCard.addEventListener("click", function (e) {
          window.location.href = "./SingleProduct.html";
        });
      }

      var necklacesText = document.getElementById("necklacesText");
      if (necklacesText) {
        necklacesText.addEventListener("click", function (e) {
          window.location.href = "./necklace.html";
        });
      }

      var earringsText = document.getElementById("earringsText");
      if (earringsText) {
        earringsText.addEventListener("click", function (e) {
          window.location.href = "./Earrings.html";
        });
      }

      var refundPolicyText = document.getElementById("refundPolicyText");
      if (refundPolicyText) {
        refundPolicyText.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='cardGridReviews']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
    </script>
  </body>
</html>
