<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./details.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bentham:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Brygada 1918:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inika:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="details">
      <section class="vector-group">
        <img class="frame-child2" alt="" src="./public/rectangle-6.svg" />

        <img
          class="img-icon1"
          loading="lazy"
          alt=""
          src="./public/img@2x.png"
        />
      </section>
      <div class="left-panel-parent">
        <div class="left-panel">
          <div class="verticalmiddle-inset1">
            <div class="divider1"></div>
          </div>
        </div>
        <div class="form-contact">
          <div class="input-field2">
            <div class="label2">Name</div>
            <div class="description5">Description</div>
            <div class="input2">
              <input class="value2" placeholder="Value" type="text" />
            </div>
            <div class="error2">Error</div>
          </div>
          <div class="input-field2">
            <div class="label2">Phone number</div>
            <div class="description5">Description</div>
            <div class="input2">
              <input class="value2" placeholder="10 digits" type="text" />
            </div>
            <div class="error2">Error</div>
          </div>
          <div class="input-field2">
            <div class="label2">City</div>
            <div class="description5">Description</div>
            <div class="input2">
              <input class="value2" placeholder="Value" type="text" />
            </div>
            <div class="error2">Error</div>
          </div>
          <div class="textarea-field">
            <div class="label5">State</div>
            <div class="hint">Description</div>
            <div class="textarea">
              <input class="value5" placeholder="Value" type="text" />

              <img class="drag-icon" alt="" src="./public/drag.svg" />
            </div>
            <div class="hint">Hint</div>
          </div>
          <div class="button-group4">
            <div class="button16">
              <img class="star-icon23" alt="" src="./public/star.svg" />

              <div class="button17">Button</div>
              <img class="star-icon23" alt="" src="./public/x.svg" />
            </div>
            <div class="button18">
              <img class="star-icon23" alt="" src="./public/star4.svg" />

              <div class="button19">Submit</div>
              <img class="star-icon23" alt="" src="./public/x3.svg" />
            </div>
          </div>
        </div>
      </div>
      <img class="details-child" alt="" src="./public/group-181@2x.png" />
    </div>
  </body>
</html>
