<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./MyWishlist.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bentham:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Brygada 1918:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inika:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="my-wishlist">
      <img class="my-wishlist-child" alt="" src="./public/rectangle-132.svg" />

      <footer class="rectangle-parent2">
        <div class="frame-child7"></div>
        <div class="all-copyrights-reserved5">@ All Copyrights Reserved</div>
        <div class="social-media1">
          <div class="social-container">
            <img
              class="instagram-icon5"
              loading="lazy"
              alt=""
              src="./public/instagram4.svg"
            />

            <div class="follow-us5">
              <div class="follow-us6">Follow us</div>
              <div class="service-container1">
                <div class="facebook-container">
                  <img
                    class="facebook-icon5"
                    loading="lazy"
                    alt=""
                    src="./public/facebook4.svg"
                  />

                  <img
                    class="facebook-icon5"
                    loading="lazy"
                    alt=""
                    src="./public/twitter4.svg"
                  />

                  <img
                    class="facebook-icon5"
                    loading="lazy"
                    alt=""
                    src="./public/linkedin4.svg"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="policy-links">
            <div class="contact-us-pearlyhuesgmailco-container5">
              <p class="contact-us5">Contact us</p>
              <p class="blank-line29">&nbsp;</p>
              <p class="blank-line29">pearlyhues@gmail.com</p>
              <p class="blank-line29">&nbsp;</p>
              <p class="blank-line29">xyz , Delhi</p>
            </div>
          </div>
        </div>
        <div class="information-heading">
          <div class="information10">
            <p class="information11">Information</p>
            <p class="blank-line31">&nbsp;</p>
          </div>
          <div class="policies1">
            <div class="privacy-container-parent">
              <div class="privacy-container">
                <div class="privacy-policy5">Privacy Policy</div>
                <div class="copyright">
                  <div class="refund-policy13" id="refundPolicyText">
                    <p class="blank-line29">Refund Policy</p>
                    <p class="blank-line29">&nbsp;</p>
                  </div>
                </div>
              </div>
              <div class="service-frame">
                <div class="service10">
                  <p class="blank-line29">Service</p>
                  <p class="blank-line29">&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="button-danger">
        <img class="star-icon35" alt="" src="./public/star6.svg" />

        <div class="button40">Add all to Cart</div>
        <img class="star-icon35" alt="" src="./public/x5.svg" />
      </div>
      <div class="button41">
        <img class="star-icon36" alt="" src="./public/star5.svg" />

        <div class="button42">Quantity +</div>
        <img class="star-icon36" alt="" src="./public/x4.svg" />
      </div>
      <section class="header1">
        <header class="header-elements">
          <img
            class="header-elements-child"
            alt=""
            src="./public/group-185@2x.png"
          />

          <img
            class="header-icons2"
            loading="lazy"
            alt=""
            src="./public/header-icons2.svg"
          />
        </header>
        <div class="content2">
          <div class="wishlist-item-actions">
            <div class="similar-products-heading">
              <div class="heading-container">
                <div class="back-button-wrapper">
                  <div class="filter-buttons">
                    <img
                      class="arrow-back-icon1"
                      loading="lazy"
                      alt=""
                      src="./public/arrow-back1.svg"
                      id="arrowBackIcon"
                    />
                  </div>
                  <div class="title-container">
                    <h1 class="my-wishlist1">My Wishlist</h1>
                  </div>
                </div>
              </div>
              <div class="filter-button-list">
                <div class="card-grid-content-list2">
                  <div class="text-content-heading2">
                    <div class="heading2">Product QTY Price</div>
                    <div class="subheading2"></div>
                  </div>
                  <div class="cards2">
                    <div class="card6">
                      <img
                        class="image-icon57"
                        loading="lazy"
                        alt=""
                        src="./public/image3@2x.png"
                      />

                      <div class="body57">
                        <div class="text112">
                          <div class="heading2">Product name 1 $5</div>
                          <div class="body-text-for-container3">
                            <p class="color3">Color :</p>
                            <p class="blank-line29">Size :</p>
                          </div>
                        </div>
                        <div class="button-group9">
                          <div class="button43">
                            <img
                              class="star-icon36"
                              alt=""
                              src="./public/star5.svg"
                            />

                            <div class="button44">Button</div>
                            <img
                              class="star-icon36"
                              alt=""
                              src="./public/x4.svg"
                            />
                          </div>
                          <div class="button45">
                            <img
                              class="star-icon36"
                              alt=""
                              src="./public/star5.svg"
                            />

                            <div class="button46">Quantity :</div>
                            <img
                              class="star-icon36"
                              alt=""
                              src="./public/x4.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card6">
                      <img
                        class="image-icon57"
                        loading="lazy"
                        alt=""
                        src="./public/image-1@2x.png"
                      />

                      <div class="body58">
                        <div class="text112">
                          <div class="heading2">Product name 1 $10</div>
                          <div class="body-text-for-container3">
                            <p class="blank-line29">Color :</p>
                            <p class="blank-line29">Size :</p>
                          </div>
                        </div>
                        <div class="button-group10">
                          <div class="button43">
                            <img
                              class="star-icon36"
                              alt=""
                              src="./public/star5.svg"
                            />

                            <div class="button44">Button</div>
                            <img
                              class="star-icon36"
                              alt=""
                              src="./public/x4.svg"
                            />
                          </div>
                          <button class="button49">
                            <img
                              class="star-icon36"
                              alt=""
                              src="./public/star5.svg"
                            />

                            <div class="button50">Quantity +</div>
                            <img
                              class="star-icon36"
                              alt=""
                              src="./public/x4.svg"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="card6">
                      <img
                        class="image-icon57"
                        loading="lazy"
                        alt=""
                        src="./public/image-2@2x.png"
                      />

                      <div class="body58">
                        <div class="text112">
                          <div class="heading2">Product name 1 $15</div>
                          <div class="body-text-for-container3">
                            <p class="blank-line29">Color :</p>
                            <p class="blank-line29">Size :</p>
                          </div>
                        </div>
                        <div class="button-group10">
                          <div class="button43">
                            <img
                              class="star-icon36"
                              alt=""
                              src="./public/star5.svg"
                            />

                            <div class="button44">Button</div>
                            <img
                              class="star-icon36"
                              alt=""
                              src="./public/x4.svg"
                            />
                          </div>
                          <button class="button49">
                            <img
                              class="star-icon36"
                              alt=""
                              src="./public/star5.svg"
                            />

                            <div class="button50">Quantity +</div>
                            <img
                              class="star-icon36"
                              alt=""
                              src="./public/x4.svg"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="button55">
                  <img class="star-icon35" alt="" src="./public/star1.svg" />

                  <div class="button56">Add to Cart</div>
                  <img class="star-icon35" alt="" src="./public/x1.svg" />
                </button>
                <button class="button57">
                  <img class="star-icon35" alt="" src="./public/star1.svg" />

                  <div class="button56">Add to Cart</div>
                  <img class="star-icon35" alt="" src="./public/x1.svg" />
                </button>
                <button class="button59">
                  <img class="star-icon35" alt="" src="./public/star1.svg" />

                  <div class="button56">Add to Cart</div>
                  <img class="star-icon35" alt="" src="./public/x1.svg" />
                </button>
                <img
                  class="x-icon31"
                  loading="lazy"
                  alt=""
                  src="./public/x4.svg"
                />

                <img
                  class="x-icon32"
                  loading="lazy"
                  alt=""
                  src="./public/x4.svg"
                />

                <img
                  class="x-icon33"
                  loading="lazy"
                  alt=""
                  src="./public/x4.svg"
                />

                <div class="button-group12">
                  <div class="button43">
                    <img class="star-icon36" alt="" src="./public/star5.svg" />

                    <div class="button44">Button</div>
                    <img class="star-icon36" alt="" src="./public/x4.svg" />
                  </div>
                  <div class="button63">
                    <img class="star-icon36" alt="" src="./public/star5.svg" />

                    <div class="button42">Quantity +</div>
                    <img class="star-icon36" alt="" src="./public/x4.svg" />
                  </div>
                </div>
                <button class="button-danger1">
                  <img class="star-icon35" alt="" src="./public/star6.svg" />

                  <div class="button65">Add all to cart</div>
                  <img class="star-icon35" alt="" src="./public/x5.svg" />
                </button>
              </div>
            </div>
            <div class="related-products">
              <div class="similar-products-grid">
                <div class="wishlist-content">
                  <h1 class="view-similar-products1">View Similar Products</h1>
                </div>
                <div class="additional-product-card">
                  <div class="product-card-row">
                    <div class="product-info-card51" id="productInfoCard">
                      <img
                        class="image-icon60"
                        loading="lazy"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body60">
                        <div class="text115">
                          <div class="text116">Earrings-1</div>
                        </div>
                        <div class="text-strong104">
                          <div class="text-strong105">$0</div>
                        </div>
                        <div class="text-small104">
                          <div class="text-small105">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img
                      class="separator-icon1"
                      loading="lazy"
                      alt=""
                      src="./public/1.svg"
                    />
                  </div>
                  <div class="product-card-row">
                    <div class="product-info-card51" id="productInfoCard">
                      <img
                        class="image-icon60"
                        loading="lazy"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body60">
                        <div class="text115">
                          <div class="text116">Earrings-1</div>
                        </div>
                        <div class="text-strong104">
                          <div class="text-strong105">$0</div>
                        </div>
                        <div class="text-small104">
                          <div class="text-small105">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img
                      class="icon65"
                      loading="lazy"
                      alt=""
                      src="./public/1.svg"
                    />
                  </div>
                </div>
                <div class="additional-product-card">
                  <div class="product-card-row">
                    <div class="product-info-card51" id="productInfoCard">
                      <img
                        class="image-icon60"
                        loading="lazy"
                        alt=""
                        src="./public/image@2x.png"
                      />

                      <div class="body60">
                        <div class="text115">
                          <div class="text116">Earrings-1</div>
                        </div>
                        <div class="text-strong104">
                          <div class="text-strong105">$0</div>
                        </div>
                        <div class="text-small104">
                          <div class="text-small105">Body text.</div>
                        </div>
                      </div>
                    </div>
                    <img
                      class="spacing-element-icon"
                      loading="lazy"
                      alt=""
                      src="./public/1.svg"
                    />
                  </div>
                  <div class="similar-products1">
                    <div class="card-container-two">
                      <div class="product-info-card51" id="productInfoCard">
                        <img
                          class="image-icon60"
                          loading="lazy"
                          alt=""
                          src="./public/image@2x.png"
                        />

                        <div class="body60">
                          <div class="text115">
                            <div class="text116">Earrings-1</div>
                          </div>
                          <div class="text-strong104">
                            <div class="text-strong105">$0</div>
                          </div>
                          <div class="text-small104">
                            <div class="text-small105">Body text.</div>
                          </div>
                        </div>
                      </div>
                      <img
                        class="space-icon"
                        loading="lazy"
                        alt=""
                        src="./public/1.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script>
      var refundPolicyText = document.getElementById("refundPolicyText");
      if (refundPolicyText) {
        refundPolicyText.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='cardGridReviews']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }

      var arrowBackIcon = document.getElementById("arrowBackIcon");
      if (arrowBackIcon) {
        arrowBackIcon.addEventListener("click", function (e) {
          window.location.href = "./HomePage.html";
        });
      }

      var productInfoCard = document.getElementById("productInfoCard");
      if (productInfoCard) {
        productInfoCard.addEventListener("click", function (e) {
          window.location.href = "./SingleProduct.html";
        });
      }
    </script>
  </body>
</html>
