<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./NewAccount.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Adamina:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bentham:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Brygada 1918:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inika:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="new-account">
      <section class="vector-container">
        <img class="frame-child8" alt="" src="./public/rectangle-6.svg" />

        <img class="img-icon2" alt="" src="./public/img@2x.png" />
      </section>
      <div class="frame-parent3">
        <div class="verticalmiddle-inset-container">
          <div class="verticalmiddle-inset2">
            <div class="divider3"></div>
          </div>
        </div>
        <div class="form-register">
          <div class="input-field14">
            <div class="label15">Email</div>
            <div class="description18">Description</div>
            <div class="input14">
              <input class="value15" placeholder="Value" type="text" />
            </div>
            <div class="error14">Error</div>
          </div>
          <div class="input-field14">
            <div class="label15">Password</div>
            <div class="description18">Description</div>
            <div class="input14">
              <input class="value15" placeholder="Value" type="text" />
            </div>
            <div class="error14">Error</div>
          </div>
          <div class="checkbox-field">
            <div class="checkbox-and-label">
              <div class="checkbox">
                <img
                  class="check-icon"
                  loading="lazy"
                  alt=""
                  src="./public/check.svg"
                />
              </div>
              <div class="label17">
                I confirm the above password as a valid password.
              </div>
            </div>
            <div class="description-row">
              <div class="check-icon"></div>
              <div class="label17">Description</div>
            </div>
          </div>
          <div class="button-group13" id="buttonGroupContainer">
            <div class="button66">
              <img class="star-icon49" alt="" src="./public/star.svg" />

              <div class="button67">Button</div>
              <img class="star-icon49" alt="" src="./public/x.svg" />
            </div>
            <div class="button68">
              <img class="star-icon49" alt="" src="./public/star4.svg" />

              <div class="button69">Register</div>
              <img class="star-icon49" alt="" src="./public/x3.svg" />
            </div>
          </div>
        </div>
      </div>
      <img class="new-account-child" alt="" src="./public/group-181@2x.png" />
    </div>

    <script>
      var buttonGroupContainer = document.getElementById("buttonGroupContainer");
      if (buttonGroupContainer) {
        buttonGroupContainer.addEventListener("click", function (e) {
          window.location.href = "./details.html";
        });
      }
    </script>
  </body>
</html>
